<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="" />
	<meta name="author" content="mime" />
	<meta name="keywords" content="chats homeInfomation" />
	<link rel="stylesheet" type="text/css" href="./resources/css/jquery.datables.min.css" />
	<link rel="stylesheet" type="text/css" href="./resources/css/list.css" />
	<link rel="stylesheet" type="text/css" href="./resources/css/validate.css" />
	<link rel="stylesheet" type="text/css" href="./resources/css/_details.css" />
	<link rel="stylesheet" type="text/css" href="./resources/css/laydate.css" />
	<link rel="stylesheet" type="text/css" href="./resources/css/skins/laydate.css" />
<title>角色与权限关系表</title>
</head>
<body>
<form id="createCmRolePrivMap">
	<div class="detailsWrap" style="height:auto;">
		<div class="detailsWrapInner">
			<!--第一层信息-->
			<div class="detailsTitles">
				<div class="detailsTitlesTitle">
					编辑角色与权限关系表
				</div>
			</div>
			<div class="detailsItemOutWrap detailSectionTop">
				<div class="detailsItemInnerRop">
					<div class="detailsItemPDivPop">
						角色编号:
					</div>
					<div class=" detailsItemInputDiv" style="width: 400px;">
							<input id="roleId" name = "roleId" type="text" />
					</div>
				</div>				
			</div>
			
			<div class="detailsItemOutWrap detailSectionTop">
				<div class="detailsItemInnerRop">
					<div class="detailsItemPDivPop">
						权限编号:
					</div>
					<div class=" detailsItemInputDiv" style="width: 400px;">
							<input id="privId" name = "privId" type="text" />
					</div>
				</div>				
			</div>
		</div>		

		   <div class="detailsItemOutWrap detailSectionTop">				
			   <div class="detailsItemOutWrap detailSectionTop">
					<input class="detailsItemInput listButton" style="width:150px;height: 38px; margin-left:30%;" type="button" id="saveBtn" value="保存"/>
					<input class="detailsItemInput listButton" style="width:150px;height: 38px; margin-left:30px;" type="button" id="cancelBtn" value="取消" />
				</div>
		  </div>	   						
	</div>
</form>
</body>
<script type="text/javascript" src="./resources/js/commonUtil.js" charset="utf-8"></script>
<script type="text/javascript" src="./resources/js/cmRolePrivMap/cmRolePrivMapEdit.js"></script>
</html>