<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>品类信息管理</title>
	<link rel="stylesheet" type="text/css" href="./resources/css/validate.css" />	
    <link rel="stylesheet" type="text/css" href="./resources/css/list.css" />
    <link rel="stylesheet" type="text/css" href="./resources/css/buttons.css" />
    <link rel="stylesheet" type="text/css" href="./resources/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="./resources/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./resources/css/base/base.css" />
	<link rel="stylesheet" type="text/css" href="./resources/css/_details.css"/>
	<link rel="stylesheet" type="text/css" href="./resources/css/jquery.datables.min.css"/>
</head>
<body>
<form id="form">
	<div class="DetailPart">
		<div class="DetailTitle">商户信息</div>
		<div class="DetailTop">
			<div class="DetailItemLeft">
				<div class="DetailItemDesc">
					<font class="redStar">*</font>实体名:
				</div>
				<div class="DetailItemDetailDiv">
					<div id="name"></div>
				</div>
			</div>
		</div>
		<div class="DetailTop">
			<div class="DetailItemLeft">
				<div class="DetailItemDesc">
					<font class="redStar">*</font>对应数据表名:
				</div>
				<div class="DetailItemDetailDiv">
					<div id="dbname"></div>
				</div>
			</div>
		</div>
		<div class="DetailTop">
			<div class="DetailItemLeft">
				<div class="DetailItemDesc">
					<font class="redStar">*</font>备注:
				</div>
				<div class="DetailItemDetailDiv">
					<div id="alies"></div>
				</div>
			</div>
		</div>
		<div class="DetailTop">
			<div class="DetailItemLeft">
				<div class="DetailItemDesc">
					<font class="redStar">*</font>创建时间:
				</div>
				<div class="DetailItemDetailDiv">
					<div id="createTime"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="detailsWrap" style="height:auto;">
		<div class="listWrap">
			<!--第一层信息-->
			<div class="detailsTitles">
				<div class="detailsTitlesTitle">
					字段列表
				</div>
			</div>
			<table id="modelattributeTable" class="display dataTablesAudit"
				   style="border-bottom: 1px solid #EFEFEF !important;padding: 5px;" cellspacing="0" width="100%">
				<thead>
				<tr>
					<th>主键</th>
					<th>字段名</th>
					<th>数据库字段名</th>
					<th>备注</th>
					<th>字段类型</th>
				</tr>
				</thead>
			</table>
		</div>
	</div>
</form>
	<div class="OKDivContainer">
		<div class="OKDiv" id="Cancel">返回</div>	
	</div>
</body>
<script src="./resources/js/lib/messages_zh.js" type="text/javascript"></script>
<script type="text/javascript" src="./resources/js/lib/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="./resources/layer/layer.js"></script>
<script type="text/javascript" src="./resources/js/jquery.form.js" charset="utf-8"></script>
<script type="text/javascript" src="./resources/js/validatorUtil.js" charset="utf-8"></script>
<script type="text/javascript" src="./resources/js/commonUtil.js" charset="utf-8"></script>
<script type="text/javascript" src="./resources/js/model/modelDetail.js"></script>
</html>