<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta name="author" content="mime"/>
    <meta name="keywords" content="chats homeInfomation"/>
    <link rel="stylesheet" type="text/css" href="./resources/css/jquery.datables.min.css"/>
    <link rel="stylesheet" type="text/css" href="./resources/css/list.css"/>
    <link rel="stylesheet" type="text/css" href="./resources/css/validate.css"/>
    <link rel="stylesheet" type="text/css" href="./resources/css/_details.css"/>
    <link rel="stylesheet" type="text/css" href="./resources/css/laydate.css"/>
    <link rel="stylesheet" type="text/css" href="./resources/css/skins/laydate.css"/>
    <title>项目用表</title>
</head>
<body>
<form id="createModel">
    <div class="detailsWrap" style="height:auto;">
        <div class="detailsWrapInner">
            <!--第一层信息-->
            <div class="detailsTitles">
                <div class="detailsTitlesTitle">
                    新增项目用表
                </div>
            </div>

            <div class="detailsItemOutWrap detailSectionTop">
                <div class="detailsItemInnerRop">
                    <div class="detailsItemPDivPop">
                        <font class="redStar">*</font>实体名:
                    </div>
                    <div class=" detailsItemInputDiv" style="width: 400px;">
                        <input id="name" name="name" type="text" required placeholder="建议大驼峰命名"/>
                    </div>
                </div>
            </div>

            <div class="detailsItemOutWrap detailSectionTop">
                <div class="detailsItemInnerRop">
                    <div class="detailsItemPDivPop">
                        对应数据表名:
                    </div>
                    <div class=" detailsItemInputDiv" style="width: 400px;">
                        <input id="dbname" name="dbname" type="text" placeholder="不填时与实体一致"/>
                    </div>
                </div>
            </div>

            <div class="detailsItemOutWrap detailSectionTop">
                <div class="detailsItemInnerRop">
                    <div class="detailsItemPDivPop">
                        <font class="redStar">*</font>备注:
                    </div>
                    <div class=" detailsItemInputDiv" style="width: 400px;">
                        <input id="alies" name="alies" type="text" required/>
                    </div>
                </div>
            </div>
        </div>

        <div class="listWrap">

            <!--第一层信息-->
            <div class="detailsTitles">
                <div class="detailsTitlesTitle">
                    添加表字段
                </div>
            </div>
            <table id="modelattributeTable" class="display dataTablesAudit"
                   style="border-bottom: 1px solid #EFEFEF !important;padding: 5px;" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>主键</th>
                    <th>字段名</th>
                    <th>数据库字段名</th>
                    <th>备注</th>
                    <th>字段类型</th>
                    <th>创建时间</th>
                    <th>快捷操作</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="detailsItemOutWrap detailSectionTop">
            <div class="detailsItemOutWrap detailSectionTop">
                <input class="detailsItemInput listButton" style="width:150px;height: 38px; margin-left:30%;"
                       type="button" id="saveBtn" value="保存"/>
                <input class="detailsItemInput listButton" style="width:150px;height: 38px; margin-left:30px;"
                       type="button" id="cancelBtn" value="取消"/>
            </div>
        </div>
    </div>
</form>
</body>
<script type="text/javascript" src="./resources/js/lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="./resources/js/lib/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="./resources/js/lib/jquery.validate.js"></script>
<script type="text/javascript" src="./resources/js/lib/messages_zh.js"></script>
<script type="text/javascript" src="./resources/js/validatorUtil.js"></script>
<script type="text/javascript" src="./resources/js/commonUtil.js" charset="utf-8"></script>
<script type="text/javascript" src="./resources/js/model/modelCreate.js"></script>
</html>